In [48]:
import pandas as pd
import numpy as np

#  Creating Dataframe With Certain File

In [49]:
df = pd.read_csv("wickets.csv")

# Reading First 10 Rows

In [50]:
display(df.head(10))

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5,10
0,M Muralitharan (ICC/SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,JM Anderson (ENG),2003-2021,164*,304,35079,16575,623,7/42,11/71,26.60,2.83,56.3,30,3
3,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,10/74,14/149,29.65,2.69,65.9,35,8
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3
5,SCJ Broad (ENG),2007-2021,149,274,29863,14590,524,8/15,11/121,27.84,2.93,56.9,18,3
6,CA Walsh (WI),1984-2001,132,242,30019,12688,519,7/37,13/55,24.44,2.53,57.8,22,3
7,DW Steyn (SA),2004-2019,93,171,18608,10077,439,7/51,11/60,22.95,3.24,42.3,26,5
8,N Kapil Dev (INDIA),1978-1994,131,227,27740,12867,434,9/83,11/146,29.64,2.78,63.9,23,2
9,HMRKB Herath (SL),1999-2018,93,170,25993,12157,433,9/127,14/184,28.07,2.80,60.0,34,9

# Number of Rows and columns

In [51]:
# number of rows
print("number of rows = ", df.shape[0])

# number of columns
print("number of columns = ", df.shape[1])

number of rows =  79
number of columns =  14

# Checking Data Statistics

In [52]:
display(df.describe())

,Inns,Balls,Runs,Wkts,Ave,Econ,SR,5,10
count,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,144.911392,18638.354430,8599.354430,317.215190,27.469747,2.806835,59.193671,16.354430,2.797468
std,51.180222,7199.256972,3085.168807,121.924911,3.655658,0.351577,9.350132,9.642372,3.235935
min,67.000000,8785.000000,4846.000000,200.000000,20.940000,1.980000,41.200000,3.000000,0.000000
25%,110.000000,13583.000000,6456.500000,229.000000,24.500000,2.600000,53.300000,9.500000,1.000000
50%,129.000000,16498.000000,7742.000000,266.000000,28.000000,2.820000,57.400000,14.000000,2.000000
75%,169.000000,21742.500000,9756.000000,374.500000,29.870000,3.080000,63.950000,20.500000,3.500000
max,304.000000,44039.000000,18355.000000,800.000000,34.790000,3.460000,91.900000,67.000000,22.000000

#  Checking For  Data Types

In [53]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  79 non-null     object
 1   Span    79 non-null     object
 2   Mat     79 non-null     object
 3   Inns    79 non-null     int64
 4   Balls   79 non-null     int64
 5   Runs    79 non-null     int64
 6   Wkts    79 non-null     int64
 7   BBI     79 non-null     object
 8   BBM     79 non-null     object
 9   Ave     79 non-null     float64
 10  Econ    79 non-null     float64
 11  SR      79 non-null     float64
 12  5       79 non-null     int64
 13  10      79 non-null     int64
dtypes: float64(3), int64(6), object(5)
memory usage: 8.8+ KB
None

### Data Types of the columns
There is 3 float value, 6 integer and 5 object or string
### Missing values
There is no missing value in the column. All the columns are filled with required value

# Renaming the column names appropriately

In [54]:
df = df.rename(columns={'Mat':'Match', 
                        'Inns':'Innings',
                        'Wkts':'Wickets',
                        'BBI':'Best Bowling of Innings',
                        'BBM':'Best Bowling of Matchs',
                        'SR':'Strike Rate',
                        'Ave': 'Average',
                        'Econ':'Economy Rate',
                       }
              )

display(df.head())

,Player,Span,Match,Innings,Balls,Runs,Wickets,Best Bowling of Innings,Best Bowling of Matchs,Average,Economy Rate,Strike Rate,5,10
0,M Muralitharan (ICC/SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,JM Anderson (ENG),2003-2021,164*,304,35079,16575,623,7/42,11/71,26.60,2.83,56.3,30,3
3,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,10/74,14/149,29.65,2.69,65.9,35,8
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3

#   Removing columns from the dataframe

In [55]:
# method 1
df = df.drop('5', axis=1)

# method 2
df.drop('10', axis=1, inplace=True)

# line 1 and line 2 both are same

# Both column named 5 and 10 is removed.

display(df.head())

,Player,Span,Match,Innings,Balls,Runs,Wickets,Best Bowling of Innings,Best Bowling of Matchs,Average,Economy Rate,Strike Rate
0,M Muralitharan (ICC/SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4
2,JM Anderson (ENG),2003-2021,164*,304,35079,16575,623,7/42,11/71,26.60,2.83,56.3
3,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,10/74,14/149,29.65,2.69,65.9
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9